<div class="note-container" >
    <div *ngFor="let note of notes">
    <mat-card class="note-div" >
        <mat-card-header>
            {{note.title}}
        </mat-card-header>
          
        <mat-card-content>
            {{note.description}}
        </mat-card-content>
        <button class="edit" mat-icon-button><mat-icon>edit</mat-icon></button>
        <button class="delete" (click)="deleteNote()" mat-icon-button><mat-icon>delete</mat-icon></button>
        <button class="done" mat-icon-button><mat-icon>done_outline</mat-icon></button>
        <button class="star" mat-icon-button><mat-icon>star_half</mat-icon></button>
        <button class="arrow" mat-icon-button><mat-icon>arrow_forward</mat-icon></button>
    </mat-card>
      
    </div>
    <mat-card class="add-note-card" routerLink="add-note">
        <button mat-icon-button><mat-icon>add</mat-icon></button>
     </mat-card>
     
</div>