.note-container {
    display:flex;
    flex-direction: row;
    flex-flow: row wrap;
    background-color:lightpink;
    .note-div {
        background-color:violet;
        max-width: 300px; 
        min-height: 300px; 
        margin: 20px;
        align-items: center;
        justify-content: center;
        min-width: 300px;
        min-height: 300px;
    }
    .delete{
    position: absolute;
    right: 5px;
    bottom: 10px;
    }
    .edit{
        position: absolute;
        right: 45px;
        bottom: 10px;
        }
    .done{
         position: absolute;
        right: 200px;
        bottom: 10px;
        }
    .star{
        position: absolute;
        right: 240px;
        bottom: 10px;
        }
    .arrow{
         position: absolute;
         right: 280px;
         bottom: 10px;
         }
   max-width:1500;
}

.add-note-card {
          flex: 1; 
          margin: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: aquamarine;
          max-height: 300px; 
          max-width: 300px; 
          min-width: 300px;
          min-height: 300px;
    }
    
