<div *ngFor="let vect of vector; let odd=odd">
    <p *ngIf="even">{{vect | uppercase}}</p>
</div>
<div *ngFor="let date of dates; let odd=odd">
        <p *ngIf="even">{{date | date:'short' | uppercase}}</p>
</div>
