<app-filter (emitSelectedFilter)="receiveCategory($event)"></app-filter>
<div class="home-container">
    <div class="notes">
        <app-note [selectCategoryId]="categoryId"></app-note>
        <div>
            <app-tools></app-tools>
        </div>
    </div>
</div>