<form>
    <label>Description</label>
</form>
<mat-form-field>
    <textarea matInput name="inputNote"  [(ngModel)]="description"
        placeholder="Enter you description" required minlength="4"></textarea>
</mat-form-field>