.note-container {
    display: flex;
    flex-direction: row;
    .note-div {
        background-color:violet;
        max-width: 300px; 
        min-height: 300px; 
        margin: 20px;
        align-items: center;
        justify-content: center;
    }

}

.add-note-card {
          flex: 1; 
          margin: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: aquamarine;
          max-height: 300px; 
          max-width: 300px; 
    }
    
