<p name="p" [style.backgroundColor]="textBackground">This is: {{textBackground}} </p>
<input tye="text" [(ngModel)]= "nContent"/>
<button mat-icon-button (click)='setColor()'><mat-icon>add</mat-icon></button>
