<form class="form">
<h1>Add a note </h1>
<label>
    Title
</label>
    <mat-form-field>
    <input
        matInput
        name="inputNote"
        [(ngModel)]="title"
        placeholder="Enter you title"
        required minlength="5"/>
    </mat-form-field><br>
    <label>Description</label><br>
    <mat-form-field>
        <textarea matInput  name="inputNote"  [(ngModel)]="description" placeholder="Enter you description" required minlength="8"></textarea>
    </mat-form-field><br>
<br>
    <form class="selection" appearance="fill">
        <label>Choose an option</label>
        <select  matNativeControl #choose="ngModel" [(ngModel)]="selectedCategory" required>
             <option *ngFor="let category of categories" [value]=category>{{category.name}}</option>
    </select>
    <mat-error *ngIf="choose.errors?.['required']">Please choose an option.</mat-error>
    </form>
        
    <br><br><br><br>
   <button class="add-button" mat-button (click)="add()" routerLink="app">Add</button>
</form>


  
  