.add-note-form {
    display: flex;
    flex-direction: column;
    max-width: 300px; 
}

.selection {
    font-size: 0.75em;
    width: 180px;
    height: 10px;
  }

.add-button{
    background-color: gray;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }