<div class="filter-container">
    <div class="filter-div" *ngFor="let category of categories">
        <button (click)="selectFilter(category.id)" mat-raised-button color="primary">{{category.name | uppercase}}</button>
    </div>
</div>
