.add-tema4-card {
    max-width: 150px;
          min-height: 150px;
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: aquamarine;
    }
    
