<div class="note-container" >
    <div *ngFor="let note of notes">
    <mat-card class="note-div" >
        <mat-card-header>
            {{note.title}}
        </mat-card-header>
          
        <mat-card-content>
            {{note.description}}
        </mat-card-content>
  
      </mat-card>
      
    </div>
    <mat-card class="add-note-card" routerLink="add-note">
        <button mat-icon-button><mat-icon>add</mat-icon></button>
     </mat-card>
     
</div>