<div class="filter-container">
    <div class="filter-div" *ngFor="let category of categories">
        <button (click)="selectFilter(category.id)" mat-raised-button color="primary">{{category.name | uppercase}}</button>
    </div>
</div>
<form class="form">
    <input name="search
    " type="text" placeholder="Search" aria-label="Search"><button class="filter-div" mat-raised-button color="primary" type="submit">Search</button><br>
  </form><br>