.filter-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .filter-div {
        margin: 10px;
    }

}
.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
}